@import url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39&family=Silkscreen:wght@400;700&display=swap");
//Variables
$colorFondo: black;
$colorLetrasBoton: rgb(192, 192, 192);

$colorBody: rgb(58, 58, 58);
$colorPrincipal: #d9d9d9;
$colorSecundario1: #afafaf;
$colorSecundario2: rgb(61, 61, 61);
$colorLetras: $colorFondo;

$gridMenu: "item1 item2 item3 item4 registro" 80px/1fr 1fr 1fr 1fr 1fr;
$gridListaMenu: "imagen menulista menulista" 80px /80px 1fr 80px;
$gridListaMenuTablet: "imagen menulista icono" 60px /60px 1fr 60px;
$gridListaMenuPequenio: "imagen menulista icono" 40px /40px 1fr 40px;
$menuGridArea: item;
$elementosMenu: 4;

$fuenteMenu: "Jersey 15", Arial;
$fuenteTexto: "Silkscreen", Arial;

$bordeNegro: 1px solid $colorFondo;
$medidas: (
    "ordenador": 992px,
    "tablet": 576px
);
$widthMenuTablet: 60px;
$widthMenuPequenio: 40px;

$menuAnimacion: animacionMenu 0.3s linear 0s 1;

@mixin body-grid($grid) {
    grid: $grid;
}