@use "./_variables-dark.scss" as *;
@use "./_estilosBase-dark.scss";
//Variables
$gridPrincipal:"menu" 80px "main" 1fr "footer" 40px/1fr;
$gridTablet:"menu" 60px "main" 1fr "footer" 40px/1fr;


body{
    @include body-grid($gridPrincipal);
}
.menu__list__item:nth-of-type(1){
    background-color: $colorSecundario1;
}
.main{
    position: relative;
    grid-area: main;
    background-color: $colorPrincipal;
    margin: 20px 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.main__categorias{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
}
.categorias__list{
    list-style: none;
    margin: 10px;
    width: 230px;
    height: fit-content;
    text-align: center;
    background-color: $colorSecundario2;
    transition: height 1s linear 0s;
}
.categorias__list>h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.categorias__list>button{
    align-self: center;
    width: 70%;
    border: 0;
    margin-bottom: 5%;
    background-color: $colorFondo;
    color: $colorLetrasBoton;
    cursor: pointer;
}
.categorias__list>p{
    color: white;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}
.mostrando__reglas{
    display: block !important;
}

@media screen and (max-width:map-get($medidas,"ordenador")){
    body{
        grid: $gridTablet;
    }
    .categorias__list>button{
        width: 60%;
        font-size: 1.6em;
    }
}
@media screen and (max-width:map-get($medidas,"tablet")){
    .main{
        height: fit-content;
    }
}